body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-group-item {
  background-color: gainsboro;
}

.list-group-item.aisles {
  cursor: pointer;
}

.list-group-item.aisles:hover {
  border: solid gray;
}
