body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-group-item.aisles {
  cursor: pointer;
  margin: 2px;
  transition: 0.5s;
}

.list-group-item.aisles:hover {
  background-color: lightpink;
}



